files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  Foodaidresponsesystem-env.eba-ginyaddw.eu-north-1.elasticbeanstalk.com;
          
          ssl                  on;
          ssl_certificate      /etc/nginx/public.crt;
          ssl_certificate_key  /etc/nginx/privatekey.pem;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass https://Foodaidresponsesystem-env.eba-ginyaddw.eu-north-1.elasticbeanstalk.com;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEBjCCAu4CCQCyjTkbkaGXljANBgkqhkiG9w0BAQsFADCBxDELMAkGA1UEBhMC
      VFIxDzANBgNVBAgMBkFua2FyYTEPMA0GA1UEBwwGQW5rYXJhMRUwEwYDVQQKDAxG
      QVJTIENvbXBhbnkxFDASBgNVBAsMC0RldmVsb3BtZW50MTswOQYDVQQDDDIqLWVu
      di5lYmEtZ2lueWFkZHcuZXUtbm9ydGgtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTEp
      MCcGCSqGSIb3DQEJARYadG9sdW5heWdlZGlrb2dsdUBnbWFpbC5jb20wHhcNMjMw
      NTA3MjAwNjQzWhcNMjQwNTA2MjAwNjQzWjCBxDELMAkGA1UEBhMCVFIxDzANBgNV
      BAgMBkFua2FyYTEPMA0GA1UEBwwGQW5rYXJhMRUwEwYDVQQKDAxGQVJTIENvbXBh
      bnkxFDASBgNVBAsMC0RldmVsb3BtZW50MTswOQYDVQQDDDIqLWVudi5lYmEtZ2lu
      eWFkZHcuZXUtbm9ydGgtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTEpMCcGCSqGSIb3
      DQEJARYadG9sdW5heWdlZGlrb2dsdUBnbWFpbC5jb20wggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQD37TVGST3XFTQRXUQB4GniksThuLP3R7d6nikKA9P5
      zAkrUhnSp6XecB9ApIbU3Sw8C8U7URJy428IPfIIPhI5jtTPv13tMnKEysa7Ii7p
      a05JJ6NKwlRMV56rX74nwopknLd8JXCLF66HXxMWUMPG5mb/MgTKOQOuB89FZ4tz
      Anic+ciPK7tfe2afOQbi8kgD7LjhR4l5IDGPezXXIx9ZMtbUJvtkaNkifpL5/c+q
      G8BrCvT/4te1EQ29jc9chE14ZtKpn2xIjvL0JcOa9FwC736uyrU603pQiaOtUXap
      w2DsGztIHU7TQ4ExZbAWBv5PF8ieVJzKoTtjxMzkNyifAgMBAAEwDQYJKoZIhvcN
      AQELBQADggEBAIIuGfd76rSmHheVUfHWovcy6KeMykLH418rpnoJyo9XqVgxb6Rn
      2E6SOk+15q5vPsR8YTeydNG3dSP2EpIVFrZXTiS1r/fPxkzf+WbTTg+DoNkUCQun
      1C1SQn/+DQLzCNUrBLFmogWsJH7WcdBCLCy/68UL4XeLK1Fi1rCfaRx2Qnj7BIGY
      vk27WF28qJAmmIv4/P7Gx6GRYLoLsL0vaTMXDNY+ERAS9zpkiBNoUUui9JXggd3O
      g5GsEuFZTWOGoDdm7dLHfoX62+L+gftUEtqWgzwG7rI1TqBCk+4cyEnnWL0iK0Pd
      58btyhnZ6zG7evbONKM8V2dfvxHqmdwyU1Q=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEA9+01Rkk91xU0EV1EAeBp4pLE4biz90e3ep4pCgPT+cwJK1IZ
      0qel3nAfQKSG1N0sPAvFO1EScuNvCD3yCD4SOY7Uz79d7TJyhMrGuyIu6WtOSSej
      SsJUTFeeq1++J8KKZJy3fCVwixeuh18TFlDDxuZm/zIEyjkDrgfPRWeLcwJ4nPnI
      jyu7X3tmnzkG4vJIA+y44UeJeSAxj3s11yMfWTLW1Cb7ZGjZIn6S+f3PqhvAawr0
      /+LXtRENvY3PXIRNeGbSqZ9sSI7y9CXDmvRcAu9+rsq1OtN6UImjrVF2qcNg7Bs7
      SB1O00OBMWWwFgb+TxfInlScyqE7Y8TM5DconwIDAQABAoIBAQDRrymTnHZU5nX3
      Ca5u9+IV4pPpZFGxHlKrvgBvm/U4G7zVisaUR34dty53ea8fcT/sOPhCxrqXuIs7
      qUh+eCDp1UdfvTYvWq9IaEfUFYEfocXAUWnl3J13Q9PKlVs6PWrW1UTKFtAsk4bk
      ryBxizVJj6wkwaUTc00Nb0V6KazjQtWX+ClHb7+PDjr8agSy8toJj/36hvdZJCKF
      5ZNsRDV+a/YhG4GHTBBK2X3GyfQTF97zg4q57YWO3nUNItfnAFW2qcSGtHPbHx7q
      crqIuL6q3MipxdKztciwdFYQ03xxRZHKr1+EL9R5XnIJFe+3Ov5H4o+9EQQqTShG
      Gs0iXoaBAoGBAP9XLbf0avrlMzG69lhdtXewc9QQ0KnoR++sljnGZ0DkKJuZ9IPE
      xZfiYU8EjxJ8naj8LBVbLlBZX3neNRzAF4vRzTC5QUGXnS4ij5ZVCn5roRDU+0jG
      F4/aI8ujz+itq5VS7U6iPCgwP0RAfQwYHZymXI7eKT4P0aV1APRtYxSxAoGBAPiR
      ILC+G7TAfrvRCt2Ii+qrLe0+2DmN321PbmQpAs13kHIJNsJ4DuOEKnQL3JyQxjmF
      b1CSGa21klZ3If16tTpw7zD78mAMGhbNCMmf59+IXPPCk5B5WbQ60CcL/jIW6JQ6
      tt12yo28qf5HKnrOlg4MkC6TSqQ7z8bpaWX5CaZPAoGAJOR2sZZ6AogtLmlCAKCB
      gKqZAbHwRCxQgHuiNPTKpGCS0XCcGJHMrtZBkwYomdYxfWH6CJflCCzxk40chWvn
      uwb0K68Ik66RQkIyFtlwq7VnTyRGrkwYyWsOMvUXLBozqV6S9QKRyIi4C2d56c5u
      MN0EkIvez52/f7V5DtfjMfECgYEAiKNurvmyTUhL4n7lVCZNk7CJzJLxVaIRogs6
      CcEpkz0YoDdEbN6GgLcUhzpGCaLj9JbPPCE0EHNxgCp4+thLa1bNhcXZ1MaSSNpo
      7D0Ev7I8NptNduveTd7Oscg78dj5/RHRmChG7Gc7o1YHmf6aKhrp31CEhYeDjjqc
      /7tIfK0CgYEAhcENVSRe7DihnNjfaC2Q0KMnNSTXrBGW43VU2d/OT5nT8OJ5F1jS
      ELgyd4XpPSCUQmUYryG4EYd0vHtWeNZebO93AhFwgObC5tn6hevNGfJ88G48H0cy
      v+8l8oe2HY9hpSziiswXMcs1wrQbodAar8EsaLiY0/wm6hSqjpgkvdc=
      -----END RSA PRIVATE KEY-----