.card-hover {
    text-decoration: none;
    color: #212529;
    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.2); */
    /* border-radius: 16px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.82);
    z-index: 1;
}

.card.card-hover:hover {
    background-color: #097d6c !important;
    color: white;
    filter: brightness(125%);
    border: 1px solid #ccc;
  }
  